input {
  mouse {
     accel-profile "flat"
  }
}

output "DP-2" { mode "1920x1080@143.999"; }

layout {
  gaps 8
  preset-column-widths {
    proportion 0.5
    proportion 1.0
  }
  default-column-width { proportion 0.5; }
  preset-window-heights {
    proportion 0.5;
    proportion 1.0
  }
  focus-ring {
    width 2
    active-color "#7e98e8"
    inactive-color "#cdcdcd"
  }
}

hotkey-overlay { skip-at-startup; }

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

cursor { xcursor-theme "Adwaita"; }

window-rule {
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  open-floating true
}

binds {
  Mod+Shift+Slash { show-hotkey-overlay; }
  Mod+Return hotkey-overlay-title="Terminal" { spawn "foot"; }
  Mod+Space hotkey-overlay-title="Keyboard Launcher" { spawn "fuzzel"; }
  Super+Alt+L hotkey-overlay-title="Lock Screen" { spawn "swaylock"; }
  Mod+O repeat=false { toggle-overview; }
  Mod+Q repeat=false { close-window; }
  Mod+H { focus-column-left; }
  Mod+J { focus-window-or-workspace-down; }
  Mod+K { focus-window-or-workspace-up; }
  Mod+L { focus-column-right; }
  Mod+Shift+H { move-column-left; }
  Mod+Shift+J { move-window-down-or-to-workspace-down; }
  Mod+Shift+K { move-window-up-or-to-workspace-up; }
  Mod+Shift+L { move-column-right; }
  Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
  Mod+BracketLeft { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }
  Mod+R { switch-preset-column-width; }
  Mod+Shift+R { switch-preset-window-height; }
  Mod+C { center-column; }
  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }
  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }
  Mod+V { toggle-window-floating; }
  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print { screenshot-window; }
  Mod+Shift+E { quit; }
  Ctrl+Alt+Delete { quit; }
  Mod+T hotkey-overlay-title="Show Time and Date" { spawn-sh "notify-send \"$(date '+%a, %b %-d, %-I:%M %p')\""; }
  Mod+Escape hotkey-overlay-title="Power Menu" { spawn "~/.config/fuzzel/scripts/power.sh"; }
  Mod+S hotkey-overlay-title="Sound Output Menu" { spawn "~/.config/fuzzel/scripts/sound-output.sh"; }
  Mod+Shift+S hotkey-overlay-title="Sound Input Menu" { spawn "~/.config/fuzzel/scripts/sound-input.sh"; }
}
